/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #ffd500;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}
/* Navbar styling */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

a {
    color: black;
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #ffd500;
}

a.visited {
    color: black;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    margin: 20px 0;

}

section {
    display: flex;
    justify-content: center;
}

.faq {
    max-width: 860px;
}

.accordion {
    background-color: #f4f4f4;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    background-color: #ffd500;
    width: 40px;
    height: 40px;
    text-align: center;
    content: '+';
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
  
.active:after {
  content: "-";
}
  
.panel {
    padding: 0 18px;
    background-color: #f4f4f4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

section div picture img {
    max-width: 960px;
    width: 100%;
}
/* Specific style for the activity page */
body.activity-page {
    background-color: black; 
    color: #fff; 
}
body.activity-page main {
    max-width: 1080px; 
    margin: 0 auto; 
    padding: 2px; 
    color: #f4f4f4;
    background-color: black
}

/* inherits the same color to headings, paragraphs and links in the main area */
body.activity-page main h1, 
body.activity-page main h2, 
body.activity-page main h3, 
body.activity-page main p, 
body.activity-page main a {
    color: inherit;
}

body.activity-page header {
    background-color: rgb(94, 138, 234);
}

body.activity-page ul {
    list-style-type: none; /* delete bulletpoints */
}

body.activity-page main a {
    text-decoration: underline; 
    text-decoration-color: rgb(94, 138, 234); 
}

body.activity-page .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

body.activity-page .image-gallery picture {
    width: calc(33.333% - 20px); /* three images evenly next to each other */
    max-width: 100%;
}
body.activity-page .image-gallery img {
    width: 100%; /* Images fill the width of the container */
    height: auto; /* automatically adjust height based on image ratio */
    object-fit: cover; /* image fills the entire width */
    border-radius: 8px; /* round corners slightly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.activity-page .image-gallery img.landscape {
    height: 250px; 
}

body.activity-page .image-gallery img.portrait {
    height: 400px;
}
body.activity-page .map-container {
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

/* map container */
body.activity-page #map-offersøykammen,
body.activity-page #map-djevelporten,
body.activity-page #map-ryten {
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}







